In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
#Loading dataset
df=pd.read_csv(r'C:\Users\medik\Downloads\LR-1.csv')
len(df)

54

In [3]:
df.describe()

              X1          X2         X3         X4         X5
count  54.000000   54.000000  54.000000  54.000000  54.000000
mean    6.587037  209.907407   0.449111   0.741852  11.790741
std     0.458894   30.265036   0.056551   0.100146   5.899257
min     5.700000  105.000000   0.291000   0.244000   2.800000
25%     6.225000  185.000000   0.415250   0.713000   8.150000
50%     6.650000  212.500000   0.443500   0.753500  10.750000
75%     6.900000  235.000000   0.483500   0.795250  13.600000
max     7.600000  263.000000   0.599000   0.900000  27.400000

In [4]:
#importing ML libraries
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [37]:
#Separate input parameters and output parameters
#The dataset contains 5 columns (X1,X2,X3,X4,X5), and we are selecting only X2,X3,X4,X5 as input parameters and X1 as output parameters
X = df.iloc[:,df.columns != 'x1'] #Selecting all columns except X1 as input params 
Y = df.iloc[:, 0] #Selecting X1 as output param
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state= 0)

In [28]:
#Training the model
model = linear_model.LinearRegression()
model.fit(X_train, Y_train)
print(len(X_train))

43

In [38]:
y_pred = model.predict(X_test)
y_pred

array([7. , 7.3, 7.1, 6.6, 6.9, 6.4, 6. , 6.2, 5.9, 6.4, 6.9])